<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/02a186c356.js" crossorigin="anonymous"></script>


    <title>Mercado Liebre</title>
</head>

<body>

    <%- include('../partials/header')%>

        <section class="container--image-banner">

        </section>
        <main>

            <section>
                <div class="container--header">
                    <h2 class="">Basado en tu última visita</h2>
                </div>
                <div class="container--products">
                    <article>
                        <img src="/images/products/img-cafetera-moulinex.jpg">
                        <div class="container">
                            <p class="container__p--price">$6.770</p>
                            <p class="container__p--discount">40% off</p>

                            <p class="container__p--description"><strong>Cafetera Moulinex</strong></p>

                        </div>
                    </article>
                    <article>
                        <img src="/images/products/img-macbook-pro-2019.jpg">
                        <div class="container">

                            <p class="container__p--price">$230.000</p>
                            <p class="container__p--discount">20% off</p>
                            <p class="container__p--description"><strong>MacBook Pro 2019</strong></p>
                            <div>
                    </article>

                    <article>
                        <img src="/images/products/img-samsung-galaxy-s10.jpg">
                        <div class="container">

                            <p class="container__p--price">$70.500</p>
                            <p class="container__p--discount">10% off</p>
                            <p class="container__p--description"><strong>Samsung Galaxy S10</strong></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/img-tv-samsung-smart.jpg">
                        <div class="container">
                            <p class="container__p--price">$23.200</p>
                            <p class="container__p--discount">5% off</p>
                            <p class="container__p--description"><strong>SmartTv Samsung 43"</strong></p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <div class="container--header">
                    <h2>Ofertas</h2>
                </div>
                <div class="container--products">
                    <article>
                        <img src="/images/products/img-cafetera-moulinex.jpg">
                        <div class="container">
                            <p class="container__p--price">$6.770</p>
                            <p class="container__p--discount">40% off</p>
                            <p class="container__p--description"><strong>Cafetera Moulinex</strong></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/img-macbook-pro-2019.jpg">
                        <div class="container">
                            <p class="container__p--price">$230.000</p>
                            <p class="container__p--discount">20% off</p>
                            <p class="container__p--description"><strong>MacBook Pro 2019</strong></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/img-samsung-galaxy-s10.jpg">
                        <div class="container">
                            <p class="container__p--price">$70.500</p>
                            <p class="container__p--discount">10% off</p>
                            <p class="container__p--description"><strong>Samsung Galaxy S10</strong></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/img-tv-samsung-smart.jpg">
                        <div class="container">

                            <p class="container__p--price">$23.200</p>
                            <p class="container__p--discount">5% off</p>
                            <p class="container__p--description"><strong>SmartTv Samsung 43"</strong></p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <%- include('../partials/footer')%>
</body>

</html>